chessengines/mac/chessengines.zip filter=lfs diff=lfs merge=lfs -text
chessengines/ubuntu/chessengines.zip filter=lfs diff=lfs merge=lfs -text
chessengines/windows/chessengines.zip filter=lfs diff=lfs merge=lfs -text
